body {
    font-family: 'Arial', sans-serif;
    background-image: url("bg4.gif");
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    margin: 20px 0;
    font-size: 24px;
    color: #ffffff;
}

#player-input, #leaderboard {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    margin: 10px auto;
    margin-top: 10%;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(92, 74, 211, 0.5);
}
#gameArea{
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
#currentScores{
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
    margin: auto;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 75%;
    margin-right: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

#addPlayer {
    background: #4CAF50; 
    margin-top: 25px;
    color: white;
}

#startGame {
    background: #2196F3;
    margin-top: 25px;
    color: white;
}

#endGameDuringPlay {
    background: #f44336; 
}

#truthBtn {
    background: #FF9800; 
    margin-right: 10px;
}

#dareBtn {
    background: #9C27B0;
}

#done {
    background: #FFEB3B;
    display: none; 
    margin-top: 10px;
}

#truthOrDare {
    font-size: 20px;
    margin: 20px 0;
}

#timer {
    font-size: 24px;
    color: #FFD700; 
}

#currentTurn {
    font-size: 24px;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

#leaderboardList {
    margin-top: 20px;
}

@media (max-width: 600px) {
    input[type="text"] {
        width: 90%;
    }

    button {
        width: 30%;
        margin-top: 10px;
    }

    #player-input {
        flex-direction: column;
        align-items: stretch;
    }
}
